<div class="card border-success mb-3">
  <div class="card-header border-success"><%= link_to 'Click Here To Generate A New Superhero', root_path %></div>
  <div class="card-body">
    
  </div>
  <div class="card-footer bg-body text-dark border-success"><%= link_to 'Create A Whole Superhero Team', home_team_path %></div>
</div>

