

<div class="card border-success mb-3" style="max-width: 18rem;">
  <div class="card-header bg-transparent border-success"><% if @team_number > 0 %> Your Superhero Team... <% else %>How Many Team Members Do You Want <% end %><%=@team_number%></div>
  <div class="card-body">
    
    <% if @team_number > 0 %>
      <%= render 'home/show_team'%>
    <% else %>
      <%= render 'home/create_team' %>
    <% end %>

    </div>
  </div>
  <div class="card-footer bg-transparent border-success"><%= link_to 'Create A Whole Superhero Team', home_team_path %></div>
</div>